* {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: red;
	font-size: 20px;
	width: 80%;
}

form {
	width: 80%;
	display: grid;
}

form input {
	width: 100%;
	margin-top: 10vh;
	margin-bottom: 10px;
}

form button {
	width: 50%;
	margin-bottom: 10px;
}

ol {
	margin-top: 10vh;
	column-count: 3;
}

ol :hover {
	background: #0000ff;
}

ol li {
	background: #00aaff;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style-position: inside;
}

div {
	width: 80%;
	height: 50vh;
	margin-top: 10vh;
	text-align: center;
}

img {
	width: 128px;
	border: 5px;
	border-style: groove;
	border-color: black;
}

h1 {
	width: 20%;
	text-align: center;
}

@media (max-width: 1200px) {
	ol {
		column-count: 2;
	}
}

@media (max-width: 800px) {
	ol {
		column-count: 1;
	}
}